.services-p {
  margin-left: -50px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #dc780b;
}
.services-h2 {
  margin-top: 10px;
  font-family: Philosopher;
  font-size: 31px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: #150c01;
}
.services-menu {
  display: flex;
  align-items: center;
}
.services-list {
  width: 200px;
  margin-left: 90px;
}
.services-list:nth-child(1){
  margin-left: 80px;
}
.services-img {
  margin-left: 30px;
  box-sizing: border-box;
}
.services-p{
  font-size: 16;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  color: #505050;
}
.services-h4 {
  font-size: 16;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  color: #505050;
}


.about-inner {
  margin-top: 120px;
  display: flex;
}
.about-box {
  margin-left: 96px;
  margin-top: 94px;
}
.about-img {
  border-radius: 20px;
}
.about-h4 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-align: left;
  color: #dc780b;
}
.about-p {
  margin-top: 20px;
  font-family: Philosopher;
  font-size: 31px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  color: #150C01;
}
.about-item-p {
  margin-top: 30px;
  font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #150C01;
}
.about-btn {
  padding: 12px 30px;
  margin-top: 40px;
  border-radius: 5px;
  background-color: #DC780B;
  color: aliceblue;
  border: none;
}
