.header-inner {
  display: flex;
  align-items: center;
  padding: 30px 0px;
}
.header-list {
  display: flex;
  align-items: center;
  margin-left: 35px;
}
.list-item {
  margin-left: 40px;
}
.list-link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}
.list-link:hover {
  color: #dc780b;
}
.list-btn {
  margin-left: 450px;
  padding: 10px 20px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #dc780b;
  color: aliceblue;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.list-btn:hover {
  background-color: aliceblue;
  color: #dc780b;
}
